.finder-container {
  margin: 25px;
  padding: 25px;

  background: linear-gradient(#e5e5e5, #a5a5a5);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.finder-title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 50px;
  color: #ff9514;
  text-shadow: 2px 2px #656565;
}

.finder-results {
  align-content: center;
}
