.project-card-container {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.project-card {
  max-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #979797;
  margin: 0 7.5px 15px;
  overflow: hidden;

  .project-title {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 22px;
      color: #656565;
    }

    Link {
      font-weight: lighter;
      font-size: 16px;
      cursor: pointer;
    }

    p {
      font-size: 16px;
      text-align: justify;
    }
  }
}
