.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 75%;
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 12px;

    .logo {
      width: 48px;
      height: 48px;
      stroke: #14e7ff;
    }

    .me {
      font-family: "Euphoria Script", cursive;
      font-size: 48px;
    }
    .title {
      font-size: 18px;
    }
  }

  .nav-links-container {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
